<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
</head>
<body>
    <h1>File Upload</h1>
    <form method="post" enctype="multipart/form-data">
        <label for="file">Upload Data file:</label>
        <input type="file" name="file" >
        <input type="submit" value="Submit">
    </form>

    {% if valuea %}
    <h3>Daily Volatility: {{ valued }}<h3>
    {% endif %}

    
    {% if valuea %}
    <h3>Annualized Volatility: {{ valuea }}<h3>
    {% endif %}
    

    {% if table %}
        <h2>Data Table: </h2>
        {{ table|safe }}
    {% endif %}

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
</body>
</html>
